body {
    background-color: #49498d;
  }

.logo {
    /* font-family: 'Peralta', cursive; */
    font-family: 'Arvo', serif;
}
  
.logo a {
    color:white;
}
  
.logo a:hover,
.logo a:active {
    text-decoration: none;
}

.card-title {
    text-align: center;
}